[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Library/PackageCache/

# Crashlytics のビルドプロパティ
crashlytics-build.properties

.vs/
.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Rider
.idea/

# VS Code
.vscode/

.DS_Store
*.log

/Assets/TextMesh Pro*/
/Assets/VisualScripting/

# その他自動生成ファイル
*.apk
*.unitypackage
